</br>
<div class="row">
    <div class="col-sm-11">
        <i class="glyphicon glyphicon-tag"></i> 模版
        <p>
    </div>
    <div class="col-sm-11">
        <table class="table table-condensed">
            <tr ng-repeat="(temp, value) in config.template">
                <td>
                    {{temp}}
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="输入名称" ng-model="config.template[temp]">
                </td>
                <td>
                    <button type="submit" class="btn btn-danger btn-sm" ng-click="tempRemove(temp)">-</button>
                </td>
            </tr>
            <tr>
                <td>
                  <input type="text" class="form-control" placeholder="输入名称" ng-model="$parent.temp_name">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="输入模版" ng-model="$parent.temp_value">
                </td>
                <td>
                  <button type="submit" class="btn btn-default btn-sm" ng-click="tempAdd($parent.temp_name, $parent.temp_value)">+</button>
                </td>
            </tr>        
        </table>
    </div>
</div>