<div class="row">
    <div class="col-sm-11">
        <i class="glyphicon glyphicon-tag"></i> 模版
        <p>
    </div>
    <div class="col-sm-11">
        <table class="table table-condensed">
            <tr ng-repeat="(temp, value) in config.template">
                <td>
                    {{temp}}
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="输入名称" ng-model="config.template[temp]">
                </td>
                <td>
                </td>
            </tr> 
        </table>
    </div>
</div>