</br>
<div class="row">
  <div class="col-sm-11">
     <i class="glyphicon glyphicon-tag"></i> 控制规则
     <p>
  </div>
  <div class="col-sm-11">
    <table class="table table-condensed">
      <tr ng-repeat="limit in config.limits">
        <td>
          <input type="text" class="form-control" placeholder="输入App" ng-model="limit.fields">
        </td>
        <td>
          <input type="number" class="form-control" placeholder="输入阀值" ng-model="limit.limit">
        </td>
        <td>
          <button type="submit" class="btn btn-danger btn-sm" ng-click="limitRemove(limit)">-</button>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" class="form-control" placeholder="输入App" ng-model="$parent.limit_fields">
        </td>
        <td>
          <input type="number" class="form-control" placeholder="输入阀值" ng-model="$parent.limit_value">
        </td>
        <td>
          <button type="submit" class="btn btn-default btn-sm" ng-click="limitAdd($parent.limit_fields, $parent.limit_value)">+</button>
        </td>
      </tr>      
    </table>
  </div>
</div>