<div ng-include="'app/auth/devices/alertdialog.html'"></div>
</br>
<div class="row">
    <div class='col-sm-3'>
      <i class="glyphicon glyphicon-tag"></i> 基本信息
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class='col-sm-6'>
            <div class="input-group">
              <span class="input-group-addon">Type</span>
              <input type="text" class="form-control" placeholder="输入Type" ng-model="config.bts.type">
            </div>
        </div>
        <div class='col-sm-6'>
            <div class="input-group">
              <span class="input-group-addon">URL</span>
              <input type="text" class="form-control" placeholder="输入URL" ng-model="config.bts.url">
            </div>
        </div>
        </br></br>
        <div class='col-sm-6'>
            <div class="input-group">
              <span class="input-group-addon">Username</span>
              <input type="text" class="form-control" placeholder="输入用户名" ng-model="config.bts.username">
            </div>
        </div>
        <div class='col-sm-6'>
            <div class="input-group">
              <span class="input-group-addon">Password</span>
              <input type="text" class="form-control" placeholder="输入密码" ng-model="config.bts.password">
            </div>
        </div>
      </div>
    </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-3">
    <i class="glyphicon glyphicon-tag"></i> 上报规则
  </div>
  <div class='col-sm-9'>
    <div class="row">
      <div class="col-sm-12">
        <div class="input-group">
          <span class="input-group-addon">Project</span>
          <input type="text" class="form-control" placeholder="输入项目名称" ng-model="config.bts.project">
        </div>
      </div>
    </div>
    </br>
    <div class="input-group" ng-repeat="vt in config.versionTypes">
      <span class="input-group-addon">{{vt.display}}</span>
      <input type="number" class="form-control" placeholder="输入版本数量" ng-model="config.bts.ver_control[vt.name]">
    </div>
    </br>
    <div class='row'>
        <div class='col-sm-6'>
            <div class="input-group">
              <span class="input-group-addon">system_app_crash</span>
              <input type="number" class="form-control" placeholder="输入阀值" ng-model="config.bts.threshold.system_app_crash">
            </div>
        </div>
        <div class='col-sm-6'>
            <div class="input-group">
              <span class="input-group-addon">system_app_wtf</span>
              <input type="number" class="form-control" placeholder="输入阀值" ng-model="config.bts.threshold.system_app_wtf">
            </div>
        </div>
    </div>
    </br>
    <div class='row'>
        <div class='col-sm-6'>
            <div class="input-group">
              <span class="input-group-addon">system_app_anr</span>
              <input type="number" class="form-control" placeholder="输入阀值" ng-model="config.bts.threshold.system_app_anr">
            </div>
        </div>
        <div class='col-sm-6'>
            <div class="input-group">
              <span class="input-group-addon">system_tombstones</span>
              <input type="number" class="form-control" placeholder="输入阀值" ng-model="config.bts.threshold.SYSTEM_TOMBSTONE">
            </div>
        </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class='col-sm-3'>
    <i class="glyphicon glyphicon-tag"></i> Component对照表
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class='col-sm-12'>
        <div class="input-group" ng-repeat="(comp, value) in config.bts.components">
          <span class="input-group-addon">{{comp}}</span>
          <input type="text" class="form-control" placeholder="输入名称" ng-model="config.bts.components[comp]">
        </div>
      </div>
    </div>
  </div>
</div>
</br>
<hr>
<button type="button" class="btn btn-success" aria-label="Left Align" ng-click="update()">Update</button>