@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

@font-size-base:          14px;
@navbar-height:           @font-size-base*50/14px;

// @font-size-large:         ceil((@font-size-base * 1.15)); // ~18px
// @font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

// @font-size-h1:            floor((@font-size-base * 2.0)); // ~36px
// @font-size-h2:            floor((@font-size-base * 1.75)); // ~30px
// @font-size-h3:            ceil((@font-size-base * 1.5)); // ~24px
// @font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
// @font-size-h5:            @font-size-base;
// @font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 640px;
}
// injector
@import 'bootstrap-select2.less';
@import 'main/main.less';
@import 'adf/adf.less';
// endinjector