<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">质量看板</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-if="item.align == 'left'" ng-class="{active: isActive(item.link)}" dropdown>
          <a ng-href="{{item.link}}" ng-if="!item.subitems">{{item.title}}</a>
          <a ng-if="item.subitems" href class="dropdown-toggle" data-toggle="dropdown">
            {{item.title}}<span class="caret"></span>
          </a>
          <ul ng-if="item.subitems" class="dropdown-menu" role="menu">
            <li ng-repeat="subitem in item.subitems"><a href="{{subitem.link}}">{{subitem.title}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in menu" ng-if="item.align == 'right'" ng-class="{active: isActive(item.link)}" dropdown>
          <a ng-href="{{item.link}}" ng-if="!item.subitems">{{item.title}}</a>
          <a ng-if="item.subitems" href class="dropdown-toggle" data-toggle="dropdown">
            {{item.title}}<span class="caret"></span>
          </a>
          <ul ng-if="item.subitems" class="dropdown-menu" role="menu">
            <li ng-repeat="subitem in item.subitems"><a href="{{subitem.link}}">{{subitem.title}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
