<div ng-show="show" class="animate-show panel panel-default">
  <div class="panel-heading clearfix">
    <h5 class="pull-left"><i class="glyphicon glyphicon-list-alt"></i> 详细信息</h5>
  </div>
  <div class="panel-body">
    <tabset>
      <tab heading="数据" ng-click="active('data')" active="options.activeTab['data']">
        <div class="markdown" btf-markdown="'```\r\n' + item.mdContent + '\r\n```'"></div>
      </tab>
      <tab heading="调用路径" ng-click="active('trace')" active="options.activeTab['trace']" ng-if='item.traces.length > 0'>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>方法</th>
                <th>文件</th>
                <th>行号</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="t in item.traces">
                <th>{{$index}}</th>
                <td>{{t.func}}</td>
                <td>{{t.file}}</td>
                <td>{{t.line}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="特征" ng-click="active('efforfeature')" active="options.activeTab['efforfeature']" ng-if="item.errorfeature">
        <ul class="list-group">
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.errorfeature({product: item.product.name, version: item.version, errorfeature: item.errorfeature})">
            <div class="row">
              <div class="col-md-2"><strong>特征ID</strong></div>
              <div class="col-md-8">{{item.errorfeature}}</div>
            </div>
          </a>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2"><strong>类型</strong></div>
              <div class="col-md-8">{{errorfeature.tag}}</div>
            </div>
          </li>
          <li ng-repeat="(key, value) in errorfeature.features" class="list-group-item">
            <div class="row" ng-if="isString(value)">
              <div class="col-md-2"><strong>{{key}}</strong></div>
              <div class="col-md-8">{{value}}</div>
            </div>
            <div class="row" ng-if="isArray(value)">
              <div class="col-md-2"><strong>{{key}}</strong></div>
              <div class="col-md-8">
                <a href ng-click="notCollapsed = !notCollapsed"><span class="glyphicon" ng-class="{'glyphicon-chevron-up': notCollapsed, 'glyphicon-chevron-down': !notCollapsed}"></span>  {{value[0]}}</a>
                <div collapse="!notCollapsed">
                  <ul>
                    <li ng-repeat="v in value track by ($index + '_' + value)">{{v}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item" ng-if="tickets.length >= 1">
            <div class="row">
              <div class="col-md-2"><strong>Tickets</strong></div>
              <div class="col-md-8">
                <span ng-repeat="ticket in tickets">
                  <a href="{{ticket.url}}" class="label label-danger">{{ticket.id}}</a>&nbsp;&nbsp;
                </span>
              </div>
            </div>
          </li>
        </ul>
      </tab>
      <tab heading="详情" ng-click="active('detail')" active="options.activeTab['detail']">
        <div class="list-group">
          <a class="list-group-item">
            <i class="glyphicon glyphicon-phone"></i><span> 产品:</span>
            <div class="pull-right">{{item.product.display}}</div>
          </a>
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.device({deviceId: item.device_id})">
            <i class="glyphicon glyphicon-star"></i><span> 设备ID:</span>
            <div class="pull-right">{{item.device_id}}</div>
          </a>
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.mac({mac: item.mac_address})">
            <i class="glyphicon glyphicon-record"></i><span> 设备网卡地址:</span>
            <div class="pull-right">{{item.mac_address}}</div>
          </a>
        </div>
        <div class="list-group">
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.dbitem({dropboxId: item.id})">
            <i class="glyphicon glyphicon-font"></i><span> 数据ID:</span>
            <div class="pull-right">{{item.id}}</div>
          </a>
          <a class="list-group-item">
            <i class="glyphicon glyphicon-time"></i><span> 发生时间:</span>
            <div class="pull-right">{{item.occurred_at.toLocaleString()}}</div>
          </a>
          <a class="list-group-item">
            <i class="glyphicon glyphicon-time"></i><span> 发生次数:</span>
            <div class="pull-right">{{item.count}}</div>
          </a>
          <a class="list-group-item" href="{{item.attachment}}" ng-if="item.attachment.length > 0">
            <i class="glyphicon glyphicon-paperclip"></i><span> 附件:</span>
            <div class="pull-right">{{"下载"}}</div>
          </a>
          <a class="list-group-item">
            <i class="glyphicon glyphicon-file"></i><span> 软件构建版本:</span>
            <div class="pull-right">{{item.version}}</div>
          </a>
          <a class="list-group-item">
            <i class="glyphicon glyphicon-file"></i><span> 软件构建属性:</span>
            <div class="pull-right">{{item.board}}/{{item.device}}/{{item.buildtype}}</div>
          </a>
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.app({product: item.product.name, version: item.version, value: item.app})">
            <i class="glyphicon glyphicon-font"></i><span> 应用:</span>
            <div class="pull-right">{{item.app}}</div>
          </a>
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.tag({product: item.product.name, version: item.version, value: item.tag})">
            <i class="glyphicon glyphicon-tag"></i><span> 类型:</span>
            <div class="pull-right">{{item.tag}}</div>
          </a>
        </div>
        <div class="list-group">
          <a class="list-group-item">
            <i class="glyphicon glyphicon-globe"></i><span> IP地址:</span>
            <div class="pull-right" ng-controller="IpLocationCtrl">{{item.ip}} <span ng-if="location && location.country">{{location.country}}/{{location.region}}/{{location.city}}</span></div>
          </a>
        </div>
      </tab>
    </tabset>
  </div>
</div>