<div class="row">
  <form class="form-horizontal" role="form">
    <div class="form-group">
    </div>
    <div class="form-group">
      <label for="dropboxId" class="col-sm-1 control-label">数据ID:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="dropboxId" placeholder="请输入Dropbox ID！" ng-model="dropboxId" ng-required="true">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="form-control btn btn-default btn-primary" ng-click="query(dropboxId)">查询</button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-sm-12" ng-controller="ItemDetailCtrl" ng-include="'app/auth/query/query.item.html'"></div>
</div>
