<div ng-show="show" class="animate-show panel panel-default">
  <div class="panel-heading clearfix">
    <h5 class="pull-left"><i class="glyphicon glyphicon-list-alt"></i> 详细信息</h5>
  </div>
  <div class="panel-body">
    <tabset>
      <tab heading="数据" ng-click="active('data')" active="options.activeTab['data']">
        <div class="markdown" btf-markdown="'```\r\n' + item.mdContent + '\r\n```'"></div>
      </tab>
      <tab heading="调用路径" ng-click="active('trace')" active="options.activeTab['trace']" ng-if='item.traces.length > 0'>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>文件</th>
                <th>行号</th>
                <th>方法</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="t in item.traces">
                <th>{{$index}}</th>
                <td>{{t.file}}</td>
                <td>{{t.line}}</td>
                <td>{{t.func}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="特征" ng-click="active('efforfeature')" active="options.activeTab['efforfeature']" ng-if="item.errorfeature">
        <ul class="list-group">
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.errorfeature({product: item.product.name, version: item.version, errorfeature: item.errorfeature})">
            <div class="row">
              <div class="col-md-2"><strong>特征ID</strong></div>
              <div class="col-md-8">{{item.errorfeature}}</div>
            </div>
          </a>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2"><strong>类型</strong></div>
              <div class="col-md-8">{{errorfeature.tag}}</div>
            </div>
          </li>
          <li ng-repeat="(key, value) in errorfeature.features" class="list-group-item">
            <div class="row" ng-if="isString(value)">
              <div class="col-md-2"><strong>{{key}}</strong></div>
              <div class="col-md-8">{{value}}</div>
            </div>
            <div class="row" ng-if="isArray(value)">
              <div class="col-md-2"><strong>{{key}}</strong></div>
              <div class="col-md-8">
                <a href ng-click="notCollapsed = !notCollapsed"><span class="glyphicon" ng-class="{'glyphicon-chevron-up': notCollapsed, 'glyphicon-chevron-down': !notCollapsed}"></span>  {{value[0]}}</a>
                <div collapse="!notCollapsed">
                  <ul>
                    <li ng-repeat="v in value track by ($index + '_' + value)">{{v}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item" ng-if="tickets.length >= 1">
            <div class="row">
              <div class="col-md-2"><strong>Tickets</strong></div>
              <div class="col-md-8">
                <span ng-repeat="ticket in tickets">
                  <a href="{{ticket.url}}" ng-class="{'label': true, 'label-danger': ticket.status == 'open', 'label-default': ticket.status == 'closed', 'label-success': ticket.status == 'resolved', 'label-info': ticket.status == 'committed'}" tooltip="{{ticket.status}}">{{ticket.id}}</a>&nbsp;&nbsp;
                </span>
              </div>
            </div>
          </li>
        </ul>
      </tab>
      <tab heading="详情" ng-click="active('detail')" active="options.activeTab['detail']">
        <div class="list-group">
          <a class="list-group-item">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-phone"></i>产品</strong></div>
              <div class="col-md-8">{{item.product.display}}</div>
            </div>
          </a>
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.device({deviceId: item.device_id})">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-star"></i>设备ID</strong></div>
              <div class="col-md-8">{{item.device_id}}</div>
            </div>
          </a>
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.imei({imei: item.imei})" ng-if="item.imei">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-barcode"></i>设备IMEI</strong></div>
              <div class="col-md-8">{{item.imei}}</div>
            </div>
          </a>
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.mac({mac: item.mac_address})">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-record"></i>网卡地址</strong></div>
              <div class="col-md-8">{{item.mac_address}}</div>
            </div>
          </a>
        </div>
        <div class="list-group">
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.dbitem({dropboxId: item.id})">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-plus"></i>数据ID</strong></div>
              <div class="col-md-8">{{item.id}}</div>
            </div>
          </a>
          <a class="list-group-item">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-time"></i>发生时间</strong></div>
              <div class="col-md-8">{{item.occurred_at.toLocaleString()}}</div>
            </div>
          </a>
          <a class="list-group-item">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-repeat"></i>重复次数</strong></div>
              <div class="col-md-8">{{item.count}}</div>
            </div>
          </a>
          <li class="list-group-item" ng-if="item.attachment.length > 0">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-paperclip"></i>附件</strong></div>
              <div class="col-md-8">
                <span ng-repeat="log in item.attachment">
                  <a target="_self" href="{{log}}" class="label label-info" download="{{'log' + ($index+1) + '.zip'}}">附件{{$index + 1}}</a>&nbsp;&nbsp;
                </span>
              </div>
            </div>
          </li>
          <a class="list-group-item">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-file"></i>软件版本</strong></div>
              <div class="col-md-8">{{item.version}}</div>
            </div>
          </a>
          <a class="list-group-item">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-info-sign"></i>构建属性</strong></div>
              <div class="col-md-8">{{item.board}}/{{item.device}}/{{item.buildtype}}</div>
            </div>
          </a>
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.app({product: item.product.name, version: item.version, value: item.app})">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-font"></i>应用</strong></div>
              <div class="col-md-8">{{item.app}}</div>
            </div>
          </a>
          <a class="list-group-item list-group-item-info" ui-sref="auth.query.tag({product: item.product.name, version: item.version, value: item.tag})">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-tag"></i>类型</strong></div>
              <div class="col-md-8">{{item.tag}}</div>
            </div>
          </a>
        </div>
        <div class="list-group">
          <a class="list-group-item">
            <div class="row">
              <div class="col-md-2"><strong><i class="glyphicon glyphicon-globe"></i>IP地址</strong></div>
              <div class="col-md-8" ng-controller="IpLocationCtrl">{{item.ip}} <span ng-if="location && location.country">{{location.country}}/{{location.region}}/{{location.city}}</span></div>
            </div>
          </a>
        </div>
      </tab>
    </tabset>
  </div>
</div>
