<div class="alert alert-info" ng-if="!chartConfigs">请设置必须的参数！</div>
<div ng-if="chartConfigs" class="container-fluid">
  <div class="col-xs-6" ng-if="summary">
    <div class="table-responsive">
      <div class="panel-heading"><h3 >{{summary.title}}</h3></div>
      <table class="table table-hover">
        <tr><td>使用时长（设备天）：</td><td class="text-right">{{summary.devices.toLocaleString()}}</td></tr>
        <tr><td>错误总数：</td><td class="text-right">{{summary.occurred.toLocaleString()}}</td></tr>
        <tr><td>错误率（/设备/天）：</td><td class="text-right">{{summary.rate.toFixed(1)}}</td></tr>
        <tr>
          <th>重启率</th>
          <th class="text-right">{{(summary.rebootRate*100).toFixed(3)}}%</th>
        </tr>
        <tr ng-repeat="data in summary.reboot" class="danger">
          <td>{{data.roocause}}（/设备/天）</td><td class="text-right">{{(data.rate*100).toFixed(3)}}%</td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-repeat="(i, chartConfig) in chartConfigs" class="col-xs-6">
    <highchart id="chart{{i}}" config="chartConfig"></highchart>
  </div>
</div>
