<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="auth" class="navbar-brand">崩溃信息</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active" dropdown>
          <a ui-sref="auth.board" role="button">
            <i class="glyphicon glyphicon-time"></i> 看版 </a>
        </li>
        <li dropdown>
          <a href class="dropdown-toggle" data-toggle="dropdown">
            产品<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="prod in products" ui-sref-active="active"><a ui-sref="auth.product({product: prod.name, dist: 'production'})">{{prod.display}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li dropdown>
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="glyphicon glyphicon-search"></i> 查询 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active"><a ui-sref='auth.query.dbitem'>数据ID</a></li>
            <li ui-sref-active="active"><a ui-sref='auth.query.device'>设备ID</a></li>
            <li ui-sref-active="active"><a ui-sref='auth.query.mac'>MAC地址</a></li>
            <li class="divider"></li>
            <li ui-sref-active="active"><a ui-sref='auth.query.app'>应用</a></li>
            <li ui-sref-active="active"><a ui-sref='auth.query.tag'>类别</a></li>
            <li class="divider"></li>
            <li ui-sref-active="active"><a ui-sref='auth.query.errorfeature'>聚类分析</a></li>
            <li class="divider"></li>
            <li ui-sref-active="active"><a ui-sref='auth.query.dashboard'>仪表盘</a></li>
          </ul>
        </li>
        <li dropdown>
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="glyphicon glyphicon-user"></i> {{session.user.username}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <!-- <li><a href="/info"><i class="glyphicon glyphicon-info-sign"></i> 个人信息 </a></li> -->
            <li ng-show="session.user.admin || ! session.user.guest">
              <a ui-sref="auth.user"><i class="glyphicon glyphicon-user"></i> 用户管理 </a>
            </li>
            <li ng-show="! session.user.guest">
              <a ui-sref="auth.device"><i class="glyphicon glyphicon-phone"></i> 设备登记 </a>
            </li>
            <li><a href ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> 登出 </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
